{% extends "ride/base.html" %}
{% block content %}
<center><h1>Vehicle Information</h1></center>

<ul>
  <li>Vehicle type: {{ user.cartype }}</li><br>
  <li>Plate number: {{ user.plate }}</li><br>
  <li>Total number of seats: {{ user.num_seat }}</li><br>
  <li>Special information: {{ user.special }}</li><br>
</ul>

<center><button><a href="/ride/driver-edit/">Edit</a></button></center><br>

<center><button><a href="/ride/">Home</a></button></center>
{% endblock content %}
