{% extends "ride/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<center><h1>Vehicle Info Editting</h1></center><br>

<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <center><input type="submit" value="Finish"></center><br>
  <center><input type="reset" value="Reset"><br><br>
  <center><button><a href="/ride/">Home</a></button></center>
</form>
{% endblock content %}
