{% extends "ride/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if isDriver %}
<center>Oops! You have already registered as driver. Click <a href="/ride/go-drive/">here</a> to start driving!</center><br>
<center><button><a href="/ride/">Home</a></button></center>

{% else %}
<center><h1>{{ user_name }}, only a few steps to register as a driver!</h1></center><br>

<form method="post">
  {% csrf_token %}
  {{ form|crispy }}
  <center><input type="submit" value="Register"></center><br>
  <center><input type="reset" name="Reset"><br>
  <center><button><a href="/ride/">Home</a></button></center>
</form>

{% endif %}
{% endblock content %}
