{% extends "ride/base.html" %}
{% block content %}
<center><h2>You have successfully edited your vehicle information.</h2></center><br>

<center><button><a href="/ride/">Home</a></button></center>
{% endblock content %}
