{% extends "ride/base.html" %}
{% block content %}

<center><h1>You are driving for</h1></center><br>

<div type="color:#445566">
<ul>
  <li>Destination: {{ ride.destination }}</li><br>
  <li>Arriving time: {{ ride.arrival }}</li><br>
  <li>Owner: {{ ride.owner }} ({{ ride.num_owner }} passengers)</li><br>
  <li>Sharer:</li>
  <ul>
    {% for sh in ride.sharer %}
    <li>{{ sh }}</li>
    {% endfor %}
  </ul>
  <br>
  <li>Number of passengers for each sharer:</li>
  <ul>
    {% for n in ride.num_sharer %}
    <li>{{ n }}</li>
    {% endfor %}
  </ul>
</ul>
</div>

<br>
<center><button><a href="/ride/go-drive/complete/">Complete</a></button></center>

<br>
<center><button><a href="/ride/">Home</a></button></center>
{% endblock content %}
