{% extends "ride/base.html" %}
{% block content %}
<center><h1>You have successfully confirmed this ride.</h1></center><br>

<center><button><a href="/ride/">Home</a></button></center>
{% endblock content %}
