{% extends "ride/base.html" %}
{% load static %}

{% block content %}
<center><h1>Matched Rides</h1></center><br>

{% if curr_rides_list %}
<ul>
  {% for r in curr_rides_list %}
  <li><a href="/ride/go-drive/{{ r.id }}/">{{ r.destination }} / {{ r.arrival }}</a></li>
  {% endfor %}
</ul>

{% else %}
<center>Sorry. There is no matched ride now.</center>
{% endif %}

<br>
<center><button><a href="/ride/">Home</a></button></center>
{% endblock content %}
