{% extends "ride/base.html" %}

{% block content %}
<center><h1>Hi, {{ user_name }}! Go start a ride!</h1></center><br>

<ul>
  <li><button><a href="/ride/request-ride/">Request a ride</a></button></li><br>
  <li><button><a href="/ride/share-search/">Join a ride</a></button></li><br>
  <li><button><a href="/ride/my-rides/">My rides</a></button></li><br>
  <li><button><a href="/ride/user-info/">User info</a></button></li><br>
  <li><button><a href="/ride/go-drive/">Go drive</a></button></li><br>
  <li><button><a href="/ride/driver-registration/">Driver registration</a></button></li><br>
  <li><button><a href="/ride/driver-info/">Vehicle info</a></button></li><br>
  <li><button><a href="/logout/">Logout</a></button></li>
</ul>
{% endblock content %}
