{% extends "ride/base.html" %}
{% block content %}
<br><br><center><h3>Looking forward to see you next time~</h3></center><br><br>
<center>Click <a href="/ride/">here</a> to return</center>
{% endblock content %}
