{% extends "ride/base.html" %}

{% block content %}
<center><h1>My Rides</h1></center><br>

<div style="color:#666611">
{% if my_rides_list %}
<ul>
  {% for r in my_rides_list %}
    {% if r.isOpen %}
      <li><a href="/ride/my-rides/{{ r.id }}/">{{ r.destination }} / {{ r.arrival }} / Open</a></li><br>
    {% else %}
      <li><a href="/ride/my-rides/{{ r.id }}/">{{ r.destination }} / {{ r.arrival }} / Confirmed</a></li><br>
    {% endif %}
  {% endfor %}
</ul>
{% else %}
  <center><p>No ride attended. Go start one!</p></center><br>
{% endif %}
</div>  

<center><button><a href="/ride/">Home</a></button></center>
{% endblock content %}
