{% extends "ride/base.html" %}
{% block content %}
<center><h1>You have successfully edited the request!</h1></center>

<center><button><a href="/ride/">Home</a></button></center>
{% endblock content %}
