{% extends "ride/base.html" %}
{% block content %}
<center>Oops! You are not a driver yet. Register <a href="/ride/driver-registration/">here</a>.</center><br>

<center><button><a href="/ride/">Home</a></button></center>
{% endblock content %}
