{% extends "ride/base.html" %}
{% block content %}
{% if suitable_rides %}
    <center><h2>Your request matches following rides:</h2></center><br>
        {% for r in suitable_rides %}
        <ul>
            <li><a href="/ride/share-search/{{ r.id }}/{{ num_sharer }}/">{{ r.destination }} / {{ r.arrival }} </a ></li><br>
        </ul>
        {% endfor %}
{% else %}
	<center><p>No joinable rides!</p ></center><br>
{% endif %}

<center><button><a href="/ride/">Home</a ></button></center>
{% endblock content %}
