{% extends "ride/base.html" %}
{% block content %}
<div type="color:#AA2222">
<center><h2>You have successfully joined the ride.</h2></center><br>
</div>

<center><button><a href="/ride/">Home</a></button></center>
{% endblock content %}
