{% extends "ride/base.html" %}
{% block content %}
<center><h1>Ride Detail</h1></center><br>

<ul>
  <div style="color:#664466">
  <h3>Basic Information</h3>
  <li>Destination: {{ ride.destination }}</li><br>
  <li>Arriving time: {{ ride.arrival }}</li><br>
  {% if ride.isOpen %}
    <li>Status: Open</li><br>
  {% else %}
    <li>Status: Confirmed</li><br>
  {% endif %}
  {% if ride.isShare %}
    <li>Sharing info: Shared</li><br>
  {% else %}
    <li>Sharing info: Not shared</li><br>
  {% endif %}
  </div>  

  <div style="color:#0088FF">
  <h3>User Information</h3>
  <li>Owner: {{ ride.owner }} ({{ ride.num_owner }} passengers)</li><br>
  <li>Sharer: </li>
  <ul>
    {% for sh in ride.sharer %}
    <li>{{ sh }}</li>
    {% endfor %}
  </ul>
  <br>
  <li>Number of passengers for each sharer:</li>
  <ul>
    {% for n in ride.num_sharer %}
    <li>{{ n }}</li>
    {% endfor %}
  </ul>
  </div>

  <div style="color:#3355AA">
  <br>
  <h3>Driver & Vehicle Information</h3>
  <li>Driver: {{ ride.driver }}</li><br>
  <li>Plate number: {{ ride.plate }}</li><br>
  <li>Vehicle type: {{ ride.cartype }}</li><br>
  {% if ride.driver == '' %}
  <li>Remaining seat:</li><br>
  {% else %}
  <li>Remaining seat: {{ ride.num_seat }}</li><br>
  {% endif %}
  <li>Special request: {{ ride.special }}</li><br>
  </div>
</ul>

<center><button><a href="/ride/share-search/{{ ride.id }}/{{ num_sharer }}/share-join">Join</a></button></center><br>

<center><button><a href="/ride/">Home</a></button></center>
{% endblock content %}
