{% extends "ride/base.html" %}
{% block content %}
<center><h1>User Information</h1></center>

<ul>
  <li>User name: {{ user.name }}</li><br>
  <li>Email: {{ user.email }}</li><br>
</ul>

<center><button><a href="/ride/user-edit/">Change email</a></button></center><br>

<center><button><a href="/ride/">Home</a></button></center>
{% endblock content %}
