{% extends "ride/base.html" %}
{% block content %}
<center><h1>Hi! Welcome to Ride Sharing Website!</h1></center><br><br>

<center>Already have an account? Click <a href="/login/">here</a> to sign in.</center><br>
<center>New user? Click <a href="/register/">here</a> to sign up.</center>
{% endblock content %}
